<div class="main-menu">
  <div class="node-menu" *ngIf="node">
    <div class="nodes">
      <ng-container class="nodes-drawn" *ngIf="node">
        <app-tree-node [mainNode]="true" [node]="node"></app-tree-node>
      </ng-container>
    </div>
  </div>
  <div class="node-menu" *ngIf="!node"></div>
  <div mat-elevation-z2 class="buttons">
    <button mat-raised-button color="accent" (click)="root()">Root</button>
  </div>
  <div mat-elevation-z2 class="insert-tree input-container">
    <mat-tab-group>
      <mat-tab label="Insert">
        <div class="input-row">
          <label for="prevInput">Right:</label>
          <mat-form-field>
            <div class="prev-input">
              <input
                id="prevInput"
                matInput
                placeholder="Node value"
                [(ngModel)]="rightData"
                name="input"
                (keydown.enter)="insertRight()"
              />
            </div>
          </mat-form-field>
          <label for="nextInput">Left:</label>
          <mat-form-field>
            <div class="next-input">
              <input
                id="nextInput"
                matInput
                placeholder="Node value"
                [(ngModel)]="leftData"
                name="input"
                (keydown.enter)="insertLeft()"
              />
            </div>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
