.tree-node {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.node-button {
  margin: 10px;
}

.content {
  max-width: 50px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis;
}

.clicked-node {
  background-color: red;
}

/* Add some spacing between child nodes */
.children {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
