<div class="tree-node">
  <button
    mat-fab
    [color]="node === selectedNode ? 'warn' : 'accent'"
    (click)="updateNode()"
    class="node-button"
  >
    <div class="content">{{ node.data }}</div>
  </button>
  <div class="children">
    <div class="left" *ngIf="node.getLeft()!">
      <app-tree-node [node]="node.getLeft()!"></app-tree-node>
    </div>
    <div class="right" *ngIf="node.getRight()!">
      <app-tree-node [node]="node.getRight()!"></app-tree-node>
    </div>
  </div>
</div>
