.main-menu {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 25% 1fr;
  grid-template-areas:
    "node"
    "change-value"
    "insert";
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.input-row {
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
  gap: 10px; /* Add space between input containers */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add box shadow on all sides */
  border-radius: 8px; /* Add border radius for a softer look */
  padding: 10px; /* Add internal padding for separation */ /* Stack input rows vertically */
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.node-menu {
  grid-area: node;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.nodes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 37%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 25%;
}

app-node {
  margin: 7px;
}

.change-value {
  grid-area: change-value;
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-radius: 8px;
}

.insert {
  grid-area: insert;
}

.input-container,
.change-value,
.buttons {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
