<div class="main-menu" *ngIf="node">
  <div class="node">
    <app-node [node]="node" class="node-node"></app-node>
  </div>
  <div class="buttons">
    <button mat-raised-button></button>
  </div>
  <div class="change-value">
    <mat-tab-group>
      <mat-tab label="Change">
        <div class="example-large-box">
          <div mat-elevation-z2 class="input-container">
            <label for="prevInput">Change value:</label>
            <mat-form-field>
              <div class="inputs">
                <input
                  id="changeInput"
                  matInput
                  placeholder="Node value"
                  [(ngModel)]="changedData"
                  name="input"
                  (keydown.enter)="changeData()"
                />
              </div>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="insert">
    <mat-tab-group>
      <mat-tab label="Insert">
        <div class="example-large-box">
          <div class="input-row">
            <div mat-elevation-z2 class="input-container">
              <label for="prevInput">Previous:</label>
              <mat-form-field>
                <div class="prev-input">
                  <input
                    id="prevInput"
                    matInput
                    placeholder="Node value"
                    [(ngModel)]="prevData"
                    name="input"
                    (keydown.enter)="insertPrev()"
                  />
                </div>
              </mat-form-field>
            </div>
            <div mat-elevation-z2 class="input-container">
              <label for="nextInput">Next:</label>
              <mat-form-field>
                <div class="next-input">
                  <input
                    id="nextInput"
                    matInput
                    placeholder="Node value"
                    [(ngModel)]="nextData"
                    name="input"
                    (keydown.enter)="insertNext()"
                  />
                </div>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
