<div class="main">
  <div class="menu">
    <app-nodemenu></app-nodemenu>
  </div>
  <div class="header">
    <div class="header-content">
      <div mat-elevation-z2 class="input-div">
        <mat-tab-group>
          <mat-tab label="Input node">
            <div class="input-row">
              <label for="changeInput">Input:</label>
              <mat-form-field>
                <div>
                  <input
                    id="changedInput"
                    matInput
                    placeholder="Node value"
                    [(ngModel)]="inputData"
                    name="input"
                    (keydown.enter)="onEnterPressed()"
                  />
                </div>
              </mat-form-field>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="search-div">
        <mat-tab-group>
          <mat-tab label="Search node">
            <div class="input-row">
              <label for="changeInput">Search:</label>
              <mat-form-field>
                <div>
                  <input
                    id="searchInput"
                    matInput
                    placeholder="Node value"
                    [(ngModel)]="searchData"
                    name="input"
                    (keydown.enter)="searchNode()"
                  />
                </div>
              </mat-form-field>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

      <button
        mat-raised-button
        color="warn"
        class="clear-button"
        (click)="clear()"
      >
        Clear
      </button>

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="button-row">
    <div class="flex-container">
      <div *ngFor="let node of linkedList" class="button-container">
        <app-node [node]="node"></app-node>
      </div>
    </div>
  </div>
</div>
