<div class="main">
  <div class="menu">
    <app-binary-tree-menu></app-binary-tree-menu>
  </div>
  <div class="header-tree">
    <div class="content-root">
      <mat-tab-group>
        <mat-tab label="Add nodes (Balancing)">
          <div class="input-row">
            <label for="Root">Root:</label>
            <mat-form-field>
              <div>
                <input
                  id="rootInput"
                  matInput
                  placeholder="Node value"
                  [(ngModel)]="nodeData"
                  name="input"
                  (keydown.enter)="addNode()"
                />
              </div>
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="content-root">
      <mat-tab-group>
        <mat-tab label="Search node">
          <div class="input-row">
            <label for="Search ">Search:</label>
            <mat-form-field>
              <div>
                <input
                  id="rootInput"
                  matInput
                  placeholder="Node value"
                  [(ngModel)]="searchData"
                  name="input"
                  (keydown.enter)="searchNode()"
                />
              </div>
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="content-root">
      <mat-tab-group>
        <mat-tab label="Search delay">
          <div class="input-row">
            <label for="Root">Delay:</label>
            <mat-form-field>
              <div>
                <input
                  id="rootInput"
                  matInput
                  placeholder="Delay Ex: 1000 = 1s"
                  [(ngModel)]="delayData"
                  name="input"
                  (keydown.enter)="updateDelay()"
                />
              </div>
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="tree-header-buttons">
      <button
        class="tree-clear"
        mat-raised-button
        color="warn"
        (click)="clear()"
      >
        Clear
      </button>
      <button
        class="tree-balanced"
        mat-raised-button
        color="accent"
        (click)="checkIfBalanced()"
      >
        Balanced?
      </button>
    </div>
  </div>
  <div class="tree">
    <div class="tree-container" *ngIf="root">
      <app-tree-node [node]="root"></app-tree-node>
    </div>
  </div>
</div>
