.main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 25%; /* Define two columns: one for the header and one for the menu */
  grid-template-rows: auto 1fr; /* Automatically size the rows to content */
  grid-template-areas:
    "header menu"
    "tree menu";
  width: 100%;
  height: 93.5%;
}

.header-tree {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "main-header options";
  justify-content: space;
  align-items: center;
  box-shadow: 0 2px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.main-header-tree {
  grid-area: main-header;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.options-search-tree {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  grid-area: options;
  flex-direction: row;
}

.input-row {
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
  gap: 10px; /* Add space between input containers */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add box shadow on all sides */
  border-radius: 8px; /* Add border radius for a softer look */
  padding: 10px; /* Add internal padding for separation */ /* Stack input rows vertically */
}

.menu {
  grid-area: menu;
  position: absolute;
  top: 0;
  bottom: 0; /* Extend to the bottom of the grid */
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.tree {
  grid-area: tree;
  display: flex;
  flex-direction: column; /* Stack nodes vertically */
  justify-content: center; /* Center vertically within the tree container */
  align-items: center;
  height: 100%;
  width: 100%; /* Center horizontally within the tree container */
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.tree-container {
  display: flex;
  flex-direction: row; /* Stack nodes vertically */
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.tab-header-search-tree {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-tree-node {
  display: flex;
}

.select-traversal {
  position: absolute;
  width: 120px;
  align-items: center;
  flex-wrap: wrap;
  right: -12px;
  top: -10px;
}

.options-search-tree {
  position: relative;
}

.search-tree-label {
  display: flex;
}
.tree-header-buttons {
  display: flex;
}
.tree-clear {
  margin-right: 10px;
}
.tree-isbalanced {
  margin-right: 10px;
}
