<table class="table">
  <tr>
    <th></th>
    <th></th>
    <th>number</th>
    <th>type</th>
    <th>amenities</th>
    <th>price</th>
    <th>photos</th>
    <th>checkin</th>
    <th>checkout</th>
    <th>rating</th>
  </tr>
  <ng-container
    *ngFor="let container of containers; let e = even; let i = index"
  >
    <tr [ngClass]="e ? 'even' : 'odd'">
      <td>
        <button class="btn btn-primary" (click)="selectContainer(container)">
          <a mat-list-item [routerLink]="'./employee'">{{
            container.booked ? 'Booked' : 'Book'
          }}</a>
        </button>
      </td>
      <td>
        <button class="btn btn-primary" (click)="deleteContainer(container)">
          delete
        </button>
      </td>
      <td>{{ container?.roomNumber }}</td>
      <td>{{ container?.roomType }}</td>
      <td>{{ container?.amenities }}</td>
      <td>{{ container?.price }}</td>
      <td>{{ container?.photos }}</td>
      <td>{{ container?.checkinTime }}</td>
      <td>{{ container?.checkoutTime }}</td>
      <td>{{ container?.rating }}</td>
    </tr>
  </ng-container>
</table>
<pre>{{ xesque }}</pre>
