// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "sass:map";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// hue. Available color palettes: https://material.io/design/color/

// DARK
$angularapp-primary-dark: mat.define-palette(mat.$deep-purple-palette, 400);
$angularapp-accent-dark: mat.define-palette(mat.$grey-palette, 700);

$angularapp-warn-dark: mat.define-palette(mat.$red-palette);

//  LIGHT
$angularapp-primary-light: mat.define-palette(mat.$indigo-palette, 600);
$angularapp-accent-light: mat.define-palette(mat.$grey-palette, 50);

$angularapp-warn-light: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angularapp-primary-dark,
      accent: $angularapp-accent-dark,
      warn: $angularapp-warn-dark,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

mat-tab-group {
  font-weight: bold;
}

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $angularapp-primary-light,
      accent: $angularapp-accent-light,
      warn: $angularapp-warn-light,
    ),
  )
);

@function modify-background($theme, $background-color, $foreground-color) {
  // Replace the background in the color object's background palette.
  $theme-color: map-get($theme, color);
  $color-background-palette: map-get($theme-color, background);
  $color-foreground-palette: map-get($theme-color, foreground);

  $color-background-palette: map-merge(
    $color-background-palette,
    (
      background: $background-color,
      app-bar: $foreground-color,
      card: $foreground-color,
      dialog: $foreground-color,
      selected-disabled-button: $foreground-color,
    )
  );

  $color-background-palette: map-merge(
    $color-background-palette,
    (
      raised-button: $background-color,
    )
  );

  // Replace the background in the background palette.
  $background-palette: map-get($theme, background);

  $background-palette: map-merge(
    $background-palette,
    (
      background: $background-color,
      app-bar: $foreground-color,
      card: $foreground-color,
      dialog: $foreground-color,
      selected-disabled-button: $foreground-color,
    )
  );

  $background-palette: map-merge(
    $background-palette,
    (
      raised-button: $background-color,
    )
  );

  // Merge the changes into a new theme.
  $modified-theme-color: map-merge(
    $theme-color,
    (
      background: $color-background-palette,
      app-bar: $foreground-color,
      card: $foreground-color,
      dialog: $foreground-color,
      selected-disabled-button: $foreground-color,
    )
  );
  $modified-theme: map-merge(
    $theme,
    (
      color: $modified-theme-color,
    )
  );
  $modified-theme: map-merge(
    $modified-theme,
    (
      background: $background-palette,
      app-bar: $foreground-color,
      card: $foreground-color,
      dialog: $foreground-color,
      selected-disabled-button: $foreground-color,
    )
  );

  @return $modified-theme;
}

$dark-theme: modify-background($dark-theme, #393939, #444444);

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/purple-green.css";
.dark-mode {
  @include mat.all-component-themes($dark-theme);
}

.light-mode {
  @include mat.all-component-themes($light-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
